p{
    font-size: 18px;
}
thead{
    background-color: #C7B7FF;
}
tfoot{
    background-color: #C7B7FF;
}
.App {
  text-align: center;
}
.navbar{
    color: white;
    padding: 2px;
    margin: 2px;
    display:flex;
}
.home{
    margin-top: 20vh;
    margin-bottom: auto;
    text-align:center;
}
.nav-link:hover{
    cursor: pointer;
    opacity: 1;
    color: white;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 390px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
